.container {
  max-width: 42rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

/* .navbar {
  display: flex;
  align-items: left;
  flex-direction: row;
  justify-content: left;
  list-style: none;
  margin-bottom: 2rem;
  padding: 0;
} */

.navitem {
  padding-right: 3rem;
}
